* {
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh; /* Hauteur égale à X% de la hauteur de la fenêtre du navigateur */
  min-width: 100vw; /* Largeur égale à X% de la largeur de la fenêtre du navigateur */
  margin: 0;
  padding: 0;
}
